WpfClient/WpfClient/Service References/WcfServiceReference/WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FarkleModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsFarked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FarkleModel" nillable="true" type="tns:FarkleModel" />
  <xs:complexType name="ArrayOfFarkleModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FarkleModel" nillable="true" type="tns:FarkleModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFarkleModel" nillable="true" type="tns:ArrayOfFarkleModel" />
</xs:schema>