WpfClient/WpfClient/Service References/WcfServiceReference/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/IISHostedService/WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/IISHostedService/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/IISHostedService/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Requests" />
      <xsd:import schemaLocation="http://localhost/IISHostedService/WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService.Responses" />
      <xsd:import schemaLocation="http://localhost/IISHostedService/WcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_GetFarkleCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFarkleCount" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetFarkleCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFarkleCountResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_CreateFarkle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFarkle" />
  </wsdl:message>
  <wsdl:message name="IWcfService_CreateFarkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFarkleResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetFarkles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFarkles" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetFarkles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFarklesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_RemoveFarkle_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFarkle" />
  </wsdl:message>
  <wsdl:message name="IWcfService_RemoveFarkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFarkleResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="GetFarkleCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetFarkleCount" message="tns:IWcfService_GetFarkleCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetFarkleCountResponse" message="tns:IWcfService_GetFarkleCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFarkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/CreateFarkle" message="tns:IWcfService_CreateFarkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/CreateFarkleResponse" message="tns:IWcfService_CreateFarkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFarkles">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetFarkles" message="tns:IWcfService_GetFarkles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetFarklesResponse" message="tns:IWcfService_GetFarkles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFarkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/RemoveFarkle" message="tns:IWcfService_RemoveFarkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/RemoveFarkleResponse" message="tns:IWcfService_RemoveFarkle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfService" type="tns:IWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFarkleCount">
      <soap:operation soapAction="http://tempuri.org/IWcfService/GetFarkleCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFarkle">
      <soap:operation soapAction="http://tempuri.org/IWcfService/CreateFarkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFarkles">
      <soap:operation soapAction="http://tempuri.org/IWcfService/GetFarkles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFarkle">
      <soap:operation soapAction="http://tempuri.org/IWcfService/RemoveFarkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="BasicHttpBinding_IWcfService" binding="tns:BasicHttpBinding_IWcfService">
      <soap:address location="http://localhost/IISHostedService/WcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>