WpfClient/WpfClient/Service References/WcfServiceReference/WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Data.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Data.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Farkle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Groobs" nillable="true" type="tns:ArrayOfGroob" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsFarked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Farkle" nillable="true" type="tns:Farkle" />
  <xs:complexType name="ArrayOfGroob">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Groob" nillable="true" type="tns:Groob" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroob" nillable="true" type="tns:ArrayOfGroob" />
  <xs:complexType name="Groob">
    <xs:sequence>
      <xs:element minOccurs="0" name="Farkle" nillable="true" type="tns:Farkle" />
      <xs:element minOccurs="0" name="FarkleId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Groob" nillable="true" type="tns:Groob" />
</xs:schema>