WpfClient/WpfClient/Service References/WcfServiceReference/WcfService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IISHostedService/WcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService.Models" />
  <xs:complexType name="CreateFarkleResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WcfServiceResponseBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Models" minOccurs="0" name="NewFarkle" nillable="true" type="q1:FarkleModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateFarkleResponse" nillable="true" type="tns:CreateFarkleResponse" />
  <xs:complexType name="WcfServiceResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailureReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfServiceResponseBase" nillable="true" type="tns:WcfServiceResponseBase" />
</xs:schema>