WpfClient/WpfClient/Service References/WcfServiceReference/WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateFarkleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFarked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateFarkleRequest" nillable="true" type="tns:CreateFarkleRequest" />
</xs:schema>